@use "@learnosity/lds-design-tokens/dist/scss/index" as lds;

.Header {
  padding: lds.$lds-space--2-x;
  background-color: lds.$lds-color--grey-L500;
  color: lds.$lds-color--grey-D500;
  font-size: lds.$lds-font-size--title-300;
  padding-inline: lds.$lds-space--2-x;
  border: 1px solid lds.$lds-color--grey-M500;
  margin: lds.$lds-space--2-x;
}
