@use "@learnosity/lds-design-tokens/dist/scss/index" as lds;

.App {
  font-family: lds.$lds-font-stack--base;
}

main {
  padding: lds.$lds-space--2-x;
  padding-inline: lds.$lds-space--2-x;
}
