@use "@learnosity/lds-design-tokens/dist/scss/index" as lds;

// Define custom tokens if not available in index.scss
$custom-padding-inline-start: 60%;

.scheduleListPresenter {
  margin: lds.$lds-space--2-x;
}

.scheduleTable {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid lds.$lds-color--grey-L500;
    padding: lds.$lds-space--1-x;
  }

  thead {
    display: none; /* Hide table header in mobile view */
  }

  tr {
    display: block;
    margin-bottom: lds.$lds-space--2-x;
  }

  td {
    display: block;
    text-align: start;
    padding-inline-start: $custom-padding-inline-start; // Custom token
    position: relative;
    word-wrap: break-word;
    max-width: 100%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    inset-inline-start: 0;
    width: 50%;
    margin-inline: lds.$lds-space--1-x;
    font-weight: lds.$lds-font-weight--bold;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  .scheduleTable {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .scheduleTable thead {
    display: table-header-group;
  }

  .scheduleTable tr {
    display: table-row;
    margin-bottom: 0;
  }

  .scheduleTable td,
  .scheduleTable th {
    display: table-cell;
    text-align: start;
    padding: lds.$lds-space--1-x;
    border: 1px solid lds.$lds-color--grey-L500;
    position: static;
    word-wrap: normal;
  }

  .scheduleTable td::before {
    content: none;
  }

  .scheduleTable input {
    width: auto;
    box-sizing: content-box;
  }
}

.newScheduleRow {
  background-color: lds.$lds-color--grey-L400;
}

.evenRow {
  background-color: lds.$lds-color--grey-L200;
}

.oddRow {
  background-color: lds.$lds-color--white;
}

.buttonSpacing {
  margin: lds.$lds-space--1-x;
}
