@use "@learnosity/lds-design-tokens/dist/scss/index" as lds;

// Define custom tokens if not available in index.scss
$custom-padding-inline-start: 60%;

.schedule-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid lds.$lds-color--grey-L500;
    padding: lds.$lds-space--1-x;
  }

  thead {
    display: none; /* Hide table header in mobile view */
  }

  tr {
    display: block;
    margin-bottom: lds.$lds-space--2-x;
  }

  td {
    display: block;
    text-align: start;
    padding-inline-start: $custom-padding-inline-start; // Custom token
    position: relative;
    word-wrap: break-word;
    max-width: 100%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    inset-inline-start: 0;
    width: 50%;
    margin-inline: lds.$lds-space--1-x;
    font-weight: lds.$lds-font-weight--bold;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  .schedule-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .schedule-table thead {
    display: table-header-group;
  }

  .schedule-table tr {
    display: table-row;
    margin-bottom: 0;
  }

  .schedule-table td,
  .schedule-table th {
    display: table-cell;
    text-align: start;
    padding: lds.$lds-space--1-x;
    border: 1px solid lds.$lds-color--grey-L500;
    position: static;
    word-wrap: normal;
  }

  .schedule-table td::before {
    content: none;
  }

  .schedule-table input {
    width: auto;
    box-sizing: content-box;
  }

  .lds-form-control {
    width: auto !important; // Override LDS token value for desktop screens
  }
}

.new-schedule-row {
  background-color: lds.$lds-color--grey-L400;
}

.even-row {
  background-color: lds.$lds-color--grey-L200;
}

.odd-row {
  background-color: lds.$lds-color--white;
}

.button-spacing {
  margin: lds.$lds-space--1-x;
}
