.schedule-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  thead {
    display: none; /* Hide table header in mobile view */
  }

  tr {
    display: block;
    margin-bottom: 15px;
  }

  td {
    display: block;
    text-align: start;
    padding-inline-start: 60%;
    position: relative;
    word-wrap: break-word;
    max-width: 100%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    inset-inline-start: 0;
    width: 50%;
    margin-inline: 15px;
    font-weight: bold;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  .schedule-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .schedule-table thead {
    display: table-header-group;
  }

  .schedule-table tr {
    display: table-row;
    margin-bottom: 0;
  }

  .schedule-table td,
  .schedule-table th {
    display: table-cell;
    text-align: start;
    padding: 8px;
    border: 1px solid #ddd;
    position: static;
    word-wrap: normal;
  }

  .schedule-table td::before {
    content: none;
  }

  .schedule-table input {
    width: auto;
    box-sizing: content-box;
  }
}

.new-schedule-row {
  background-color: #e0e0e0;
}

.even-row {
  background-color: #f2f2f2;
}

.odd-row {
  background-color: white;
}
